* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header, nav, section {
    height: 100px;
}

header {
    background-color: #F5F8FA;
}

nav {
    background-color: #fff;
}

.info {
    background-color: #425B76;
}

div.container {
    background-color: white;
    width: 1200px;
    height: 100%;
    margin: auto;
}

.introduction {
    background-color: #FFF3EE;
    height: 600px;
}
