* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
}

/* __________inizio header____________ */

header {
    height: 80px;
    border-top: 1px solid #7C98B6;
    border-bottom: 1px solid #7C98B6;
    background-color: #F5F8FA;

}

.container {
    width: 1000px;
    height: 100%;
    margin: auto;
    font-size: 16px;
}

header .container {
    clear: both;
    content:"";
    display: table;
}

.language {
    float: left;
    width: 50%;
    padding: 20px 0;
}

.language li {
    display: inline-block;
    padding: 10px;
    }


.language a {
    text-decoration: none;
    color: #33475B;
    padding: 20px;
}

.search {
    float: right;
    width: 50%;
    padding: 11px 0;
}

.search ul {
    float: right;
}

.search li {
    display: inline-block;
    padding: 5px;
}

.search a {
    text-decoration: none;
    color: #33475B;
    padding: 20px;
}

.search i {
    color: #45BBCE;
}

.search .log_in {
    border: 1px solid #FF7A59;
    background-color: #FFF;
    color: #FF7A59;
    padding: 15px 25px;
    border-radius: 3px;
}

.search .free {
    background-color: #FF7A59;
    color: #FFF;
    padding: 15px 25px;
    border-radius: 3px;
    font-size: 12px;
    border: 1px solid #FF7A59;
}

.log_in, .free {
    font-size: 12px;
}

/* __________fine header___________ */


/* __________inizio navbar___________ */


#navbar {
    background-color: #fff;
    height: 100px;
    width: 1000px;
    margin: auto;
}

nav .container {
    clear: both;
    content: "";
    display: table;
    }

.logo {
    width: 180px;
    height: 100%;
    padding-top: 10px;
    float: left;
}

a img {
    width: 180px;
    height: 68px;
}

.menu {
    font-size: 16px;
    font-weight: bold;
    padding: 40px 0;
    float: right;
}

/* .menu ul {
    float: right;
} */

.menu li {
    display: inline-block;
    }


.menu a {
    text-decoration: none;
    color: #33475B;
    padding: 20px;
}

/* __________fine navbar___________ */

/* __________inizio info_banner__________ */

.info_banner {
    background-color: #425B76;
    /* height: 100px; */
    font-size: 16px;
    color: #FFF;
    padding: 10px 30px;
    line-height: 30px;
}

.info_banner .container {
    width: 1000px;
    height: 100%;
    margin: auto;
    padding: 10px 20px;
    position: relative;
    }


.info_banner span {
    text-transform: uppercase;
}

.info_banner a {
    font-weight: bold;
    color: #FFF;
}

/* _________inizio jumbotron_________ */

.jumbotron {
    background-color: #FFF3EE;
    color: #33475B;
}

.big_title {
    width: 500px;
    margin-right: 500px;
    padding: 80px 10px 10px 10px;
}

.big_title h1, .big_title p {
    padding: 10px;
}

.big_title h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}

.big_title p {
    font-size: 18px;
    line-height: 30px;
}

.get_free {
    width: 250px;
    margin-right: 750px;
    padding: 0 20px 80px 20px;
}

.free {
    background-color: #FF7A59;
    color: #FFF;
    padding: 25px 40px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #FF7A59;
}

.get_free p {
    font-size: 14px;
    padding: 20px 0;
    line-height: 20px;
}

/* __________fine jumbotron_________ */

/* __________iniziocard_box_________ */

.card_box {
    background-color: #F5F8FA;
    padding: 30px;
    color: #33475B;
    }

.card_box .container {
    max-width: 100%;
    clear: both;
    content: "";
    display: table;
}

.card {
    max-width: 320px;
    height: 400px;
    border: 1px solid black;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #FFF;
    padding: 40px 20px;
    border-radius: 3px;
}

.card:first-child {
    background-color: #F5F8FA;
    border: 0;
    padding: 0;
}

.card:first-child h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    padding-bottom: 10px;
}

.card:first-child p {
    font-size: 18px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
}

.description h3 {
    display: inline;
    font-size: 25px;
}

.description p {
    font-size: 14px;
    border-bottom: 1px solid #999;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.description h3, .description p {
    padding-bottom: 20px;
}

.features p {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.features li {
    list-style-type: none;
    font-size: 12px;
    padding: 5px;
}

.features button {
    background-color: #FF7A59;
    color: #FFF;
    padding: 20px 80px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #FF7A59;
    margin-top: 10px;
}

.card i {
    color: #FF7A59;
}
